<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SuiteName" parallel="tests">
	
	<test name="BookMyShow" allow-return-values="true">
		<classes>
			<class 	name="cucumberRunnerTest.TestRunner" />
	     <!--  	<class 	name="RegisteredUserFlow" />     -->
		</classes>
	</test>	
</suite>
